



<%=image_tag("logo.png")%>
<div class="row my_margn_btw_row">

<section class="my_title">
HOW THIS WORKS 
</section>


	<div class="my_text newspaper col-3">	
Curator
 	<i class="fas fa-frog fa-4x fa-pull-left"></i>
	<audio controls>
 	 <source src="vincent.wav" type="audio/wav"/>
	</audio>
 	</div>

	<div class="my_text newspaper col-3">	
Collector
	<i class="fas fa-fish fa-4x fa-pull-left"></i>
	</div>

	<div class="my_text newspaper col-3">	
Artist
	<i class="fas fa-leaf fa-4x"></i>
	</div>
	</div>




<div class="row my_margn_btw_row">
	<div class="my_text newspaper col-3">	
Art
	<%= link_to "/pieces_show" do %>
		<i class="fas fa-stamp fa-4x"> </i> <%end%>
	</div>
	<div class="my_text newspaper col-3">	
Cost 
	<i class="fas fa-money-bill-alt fa-4x" ></i>
	</div>
	<div class="my_text newspaper col-3">	
Market 
	<i class="fas fa-chart-area fa-4x"></i>
	</div>
	</div>




<div class="row my_margn_btw_row">
	<div class="my_text newspaper col-3">	
Opening 
	<i class="fas fa-anchor fa-4x"></i>	
	</div>
	<div class="my_text newspaper col-3">	
Interactions 
	<i class="fas fa-cog fa-pulse fa-4x"> </i>
	</div>
	<div class="my_text newspaper col-3">	
Closing 
	<i class="fas fa-handshake fa-4x"> </i>
	</div>
	</div>





