<head>
   

</head>
    
<body>
 <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
	<div class="nave-item">	
		<%= link_to "/pieces_show" do %>
		<i class="fas fa-stamp fa-4x my_margn_btw"> </i> <%end%>
	</div>
      
    </nav>
</body>


